@import "../../settings";

$primary-background: #161E1B;
$seconday-background: #3D3345;
$border-color: rgba(255, 255, 255, 0.3);
$border-size: 1px;

.loading-bar {
    position: relative;
    width: 100%;
    height: 80px;

    .background {
        width: calc(100% - 2px);
        height: 60px;
        margin-top: 10px;
        background: $primary-background;
        border: $border-size solid $border-color;

        &.secondary {
            background: $seconday-background;
        }
    }

    .loading-progress {
        position: absolute;
        width: 80%;
        height: 60px + ($border-size * 2);
        margin-top: 10px;
        opacity: 0.8;
        background: linear-gradient(-125deg, map-get(map-get($app-gradients, default), start), map-get(map-get($app-gradients, default), end));

        &.active {
            transition: all ease-in-out 0.5s;
        }
    }

    @each $name, $gradient in $app-gradients {
        &.#{$name} {
            .loading-progress {
                background: linear-gradient(-125deg, map-get($gradient, start), map-get($gradient, end));
            }
        }
    }

    &.loading {
        .loading-progress {
            height: 80px;
            margin-top: 0px;
            background-size: 200%;
            animation: loading 4s infinite ease-in-out;
        }
    }
    &.loaded{
        .loading-progress{
            width: 100%;
        }
    }
}

@keyframes loading{
    0% {
        background-position: 0 100%
      }
      50% {
        background-position: 100% 0
      }
      100% {
        background-position: 0 100%
      }
}